.commitment {
  &__wrapper {
    margin-top: 168px;
    margin-left: 85px;
    display: flex;
    align-items: center;
  }
  &__img {
    border-radius: 10px;
  }
  &__box{
    margin-left: 125px;
  }
  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333d4b;
  }
  &__text {
    width: 538px;
    margin-top: 32px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
