.commitment {
  &__wrapper {
    margin-top: 168px;
    margin-left: 85px;
    display: flex;
    align-items: center;
  }
  &__img {
    border-radius: 10px;
  }
  &__box {
    margin-left: 120px;
  }
  &__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333d4b;
  }
  &__text {
    max-width: 538px;
    margin-top: 32px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}

@media only screen and (max-width: 1024px) {
  .commitment {
    &__wrapper {
      position: relative;
      margin: 0;
      margin-top: 144px;
      align-items: start;
      justify-content: space-around;
    }

    &__img {
      position: absolute;
      left: -45px;
      clip-path: inset(0 20% 9% 17% round 10px);
    }

    &__box {
      margin-left: 380px;
    }

    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 15px;
      width: 339px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .commitment {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__img {
      position: static;
      clip-path: inset(0 14% 23% 13% round 10px);
    }

    &__box {
      margin: 0;
    }

    &__title {
      width: 300px;
      text-align: center;
    }

    &__text {
      width: 298px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 340px) {
  .commitment {
    &__img {
      width: 130%;
      margin-left: 20px;
    }
  }
}
