.footer {
  &__wrapper {
    padding: 47px 85px;
    margin-top: 320px;
    display: flex;
    align-items: center;
    gap: 103px;
    background: #2c343e;
  }
  &--wrapper {
    margin-top: 168px;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 365px;
  }
  &__item {
    position: relative;
    padding-bottom: 5px;
  }
  &__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fefcf7;
    transition: all 0.3s linear;
    transform: scale(0, 1);
  }

  &__link:hover::after {
    transform: scale(1, 1);
  }

  &__link:active::after {
    transform: scale(0, 0);
    transition: all 0.1s linear;
  }

  &__link:hover {
    color: #fefcf7;
  }

  &__link:active {
    color: #83888f;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 33px;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__btn svg path {
    transition: all 0.2s linear;
  }
  &__btn:hover svg path {
    fill: #fdd6ba;
  }
  &__btn:active svg path {
    fill: #0e8784;
    transition: all 0.1s ease-in-out;
  }
}
